QPlainTextEdit {
    font-size:12pt;
    background-color: white;
    color: black;
    selection-background-color: rgb(166,210,255);
    selection-color: black;
    border:1px;
}
#line_number_area {
    font-size:12pt;
}